*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.wrapper{
    min-height: 100vh;
    padding: 15px;
    display: flex;  
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 20px;
}

.header, .footer, .content1, .content2>div>div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #B1AFFF;
    background-color: #C8FFD4;
}

.content2>div>div{
    background-color: #B8E8FC;
}

.main-container{
    flex: 6;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.content2{
    flex: 1;
    display: flex;
    justify-content: column;
    flex-wrap: wrap;
    gap: 15px;
    flex-direction: column;
}

.content2>div{
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

@media screen and (max-width:800px) {
    .main-container>div{
        min-height: 400px;
    }

    .content1{
        flex: 100%;
    }

    .header{
        min-height: 90px;
    }

    .footer{
        min-height: 110px;
    }
}

@media screen and (max-width:520px) {
    .content2>div{
        flex-direction: column;
    }
    
    .content2>div>div{
        min-height: 200px;
    }
}
